In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# File can be found below
# https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
# Unzip with below
# gunzip yellow_tripdata_2021-01.csv.gz

df = pd.read_csv('yellow_tripdata_2021-01.csv')

/tmp/ipykernel_60339/2043671196.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
df = df.assign(tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime), tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime))
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [8]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

765

In [10]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
for chunk in pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100_000):
    chunk.assign(tpep_pickup_datetime = pd.to_datetime(chunk.tpep_pickup_datetime), 
                 tpep_dropoff_datetime = pd.to_datetime(chunk.tpep_dropoff_datetime))
    chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

/tmp/ipykernel_60339/1489643751.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100_000):